appdirs==1.4.0
Django==1.10
django-ckeditor==5.0.2
django-embed-video==1.0.0
django-endless-pagination==2.0
djangocms-admin-style==0.2.8
html5lib==1.0b8
importlib==1.0.4
packaging==16.8
Pillow==6.2.2
pyparsing==2.1.10
pyPdf==1.13
PyPDF2==1.27.5
pytz==2021.1
reportlab==3.5.59
requests==2.13.0
six==1.10.0
sorl-thumbnail==12.3
webencodings==0.5
xhtml2pdf==0.0.6
