
footer {
	background-color: #42a5f5 !important;
}

nav{
	background-color: #42a5f5 !important
}

#contenido {
	margin-top: 4em !important;
	margin-bottom: 4em !important;
}

.pagination li a, .endless_page_current{
	padding: 0.5em;
}

#ver-mas {
	text-transform: uppercase;
}

#ver-mas a {
	margin-top: 1em !important;
	color: #9e9e9e
}

.h-color {
	color: #42a5f5;
	margin-bottom: 2em;
	text-transform: uppercase;
}

.img-width {
	width: 20% !important
}

#especialidades {
	margin-bottom: 4em
}

.h-filtro {
	color: #42a5f5;
	margin-bottom: 0.5em
}

#dp_swf_engine {
	display: none !important
}

#especialidades .card .card-title {
	font-size: 20px;
	text-transform: uppercase;
}

.flow-text {
	font-size: 22px;
}

nav ul a {
	text-transform: uppercase;
}

nav .brand-logo {
  font-size: 1.6rem;
  text-transform: uppercase;
}

#info, #especialidades, #experiencia {
	margin-bottom: 5em
}

footer .white-text {
	text-transform: uppercase !important;
	  font-size: 1.5rem !important;
}

#detalle {
	margin-bottom: 5em
}

#relacion {
	margin-top: 3em;
	font-size: 1.2rem
}

.foto {
	margin-top: 1.5em
}

#video-cont {
	margin-top: 2em !important
}

#contenido ul li {
     list-style-type: square !important; 
}

.foto a img {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.foto a img:hover {
	opacity: 0.8;
	cursor: pointer;
	-webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
     transform:scale(1.15);
}