.page-footer{
	background-color: #42a5f5 !important
}
nav{
	background-color: #42a5f5 !important
}

.input-field label {
	color: white !important;
}

.page-footer i {
	color: white !important
}


  