<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dr. Vélez Ponce</title>
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/3.png">
	<link href="/static/css/materialize.min.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

	<header>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper container">
					<a href="/" class="brand-logo">Dr. Vélez Ponce</a>

					<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="/">Inicio</a></li>
						<li><a href="/lista-casos/">Trabajos</a></li>
						<li><a href="/contacto/">Contacto</a></li>
					</ul>
					<ul class="side-nav" id="mobile-demo">

						<li><a href="/">Inicio</a></li>
						<li><a href="/lista-casos/">Trabajos</a></li>
						<li><a href="/contacto/">Contacto</a></li>
					</ul>
				</div>
			</nav>
		</div>

		<div class="slider">
			<ul class="slides">
				<li>
					<img src="/static/img/1.jpg">
					<!-- <div class="caption center-align">
						<h3>This is our big Tagline!</h3>
						<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
					</div> -->
				</li>
				<!-- <li>
					<img src="http://lorempixel.com/580/250/nature/2">
					<div class="caption left-align">
						<h3>Left Aligned Caption</h3>
						<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
					</div>
				</li>
				<li>
					<img src="http://lorempixel.com/580/250/nature/3">
					<div class="caption right-align">
						<h3>Right Aligned Caption</h3>
						<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
					</div>
				</li> -->
			</ul>
		</div>

	</header>

	<div class="container" id="contenido">
		{% block content %}{% endblock content %}
	</div>

	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h4 class="white-text">Contacto</h4>
					<p class="grey-text text-lighten-4">Frente a la embajada de Mexico, costado norte, contiguo a la Alianza Francesa. Managua, Nicaragua</p>
					<p class="grey-text text-lighten-4"><b>Tel:</b> (505) 8886-4665 / (505) 2267-1285 / (505) 2267-0138</p>
					<p class="grey-text text-lighten-4"><b>E-mail:</b> juancarlos@drvelezponce.com</p>
				</div>
			<!--<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
				</ul>
			</div>-->
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© Copyright 2015. Dr. Velez Ponce
		</div>
	</div>
</footer>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/materialize.min.js"></script>
<script type="text/javascript">
	$(".button-collapse").sideNav();
	$(document).ready(function(){
		$('.slider').slider({full_width: true});
	});
</script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>