{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block extra_js %}
<script>
	$(document).ready(function(){
		$('.materialboxed').materialbox();
	});
</script>

{% endblock extra_js %}

{% block content %}
<div class="row" id="detalle">
	<h5 class="center">{{caso.titulo}}</h5>
	{{caso.descripcion|safe}}

	{% for d in caso.subirfotos_set.all %}
	{% thumbnail d.imagen "800x500" crop="center" as img %}
	<div class="col s12 m4">
		<img class="materialboxed" width="250" src="/media/{{img}}">
	</div>
	{% endthumbnail %}
	{% endfor %}
</div>

{% if caso.video %}
<div class="row">
	<div class="video-container">
		{% video caso.video as my_video %}
		<div class="video-container no-controls">
			<iframe width="853" height="480" src="{{ my_video.url }}" frameborder="0" allowfullscreen></iframe>
		</div>
		{% endvideo %}
	</div>
</div>
{% endif %}

{% endblock content %}