{% extends "base.html" %}

{% block extra_css %}
<link href="/static/css/materialize.clockpicker.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s6">
    <h4>{{object.nombre}}</h4>
    <p>Edad: {{object.edad}} años</p>
    <p>Sexo: {% if object.sexo == 1 %}Femenino{% elif object.sexo == 2 %}Masculino{% endif %}</p>
    <p>Nacionalidad: {{object.nacionalidad}}</p>
    <p>Teléfono: {{object.telefono}}</p>
  </div>
  <div class="col s6">
    <p>Próxima cita: {{citas.programacion_cita|date:"l d F Y"}} Hora: {{ citas.programacion_cita|time:"P" }}</p>
    <p>Última cita: {{citas.fecha|date:"l d F Y"}} Hora: {{ citas.fecha|time:"P" }}</p>
  </div>
</div>

<div class="row">
  <h3>Consultas</h3>
  {% for consulta in consultas %}
  <div class="col s12">
    <h5>Fecha consulta: {{consulta.fecha|date:"l d F Y"}} Hora:{{ consulta.fecha|time:"P" }}</h5>
    <p>Motivo: {{consulta.motivo|safe}}</p>
    <p>Examen físico: {{consulta.examen_fisico|safe}}</p>
    <p>Examenes: {{consulta.examen|safe}}</p>
    <p>Tratamiento: {{consulta.tratamiento|safe}}</p>
    <p>Próxima cita: {{consulta.programacion_cita|date:"l d F Y"}} Hora:{{ consulta.programacion_cita|time:"P" }}</p>
    <p>Costo de la cita: {{consulta.costo}}</p>
  </div>
  <hr>
  {% endfor %}
</div>

<div class="row">
  <form class="" action="." method="POST">{% csrf_token %}
    <div class="row">
      <div class="input-field col s6">
        <p>Cita</p>
        {{form.fecha}}
      </div>
      <div class="input-field col s12">
        {{form.motivo}}
        <label for="icon_telephone">Motivo de la consulta</label>
      </div>
      <div class="input-field col s12">
        {{form.examen_fisico}}
        <label for="textarea1">Examen fisico</label>
      </div>
      <div class="input-field col s12">
        {{form.examen}}
        <label for="textarea1">Examen</label>
      </div>
      <div class="input-field col s12">
        {{form.tratamiento}}
        <label for="textarea1">Examen</label>
      </div>
      <div class="input-field col s6">
        {{form.programacion_cita}}
        <label for="icon_telephone">Proxima cita</label>
      </div>
      <div class="input-field col s6">
        {{form.costo}}
        <label for="icon_telephone">Costo de la cita</label>
      </div>
      <div class="col s12">
        <input type="submit" value="Agregar consulta"  name="consulta"/>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block extra_js %}
<script src="/static/js/materialize.clockpicker.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.slider').hide();
  $('#id_paciente').val("{{object.id}}");
  $('#id_paciente').hide();
  $('#id_fecha_0').addClass('datepicker');
  $('#id_fecha_1').addClass('timepicker');
  $('#id_programacion_cita_0').addClass('datepicker');
  $('#id_programacion_cita_1').addClass('timepicker');
  $( "textarea" ).addClass( "materialize-textarea" );
  $('.datepicker').pickadate({
   selectMonths: true, // Creates a dropdown to control month
   selectYears: 15, // Creates a dropdown of 15 years to control year
   format: 'dd/mm/yyyy'
 });
 $('.timepicker').pickatime({
    default: 'now',
    twelvehour: false, // change to 12 hour AM/PM clock from 24 hour
    donetext: 'OK',
  autoclose: false,
  vibrate: true // vibrate the device when dragging clock hand
});
});
</script>
{% endblock %}
