{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<div class="row">
	<h5>Últimos casos medicos</h5>
	{% for obj in casos %}
	<div class="col s12 m4">
		<div class="card medium">
			<div class="card-image">
				{% for d in obj.subirfotos_set.all|slice:":1" %}
				{% thumbnail d.imagen "200x200" crop="center" as img %}
				<img src="/media/{{img}}">
				{% endthumbnail %}
				{% endfor %}
				<span class="card-title">{{obj.titulo}}</span>
			</div>
			<div class="card-content">
				{{obj.descripcion|safe}}
			</div>
			<div class="card-action">
				<a href="{% url 'detail-case' obj.slug %}">Leer más</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="row">
	<form class="col s12">
		<div class="row">
			<div class="input-field col s6">
				<i class="material-icons prefix">account_circle</i>
				<input id="icon_prefix" type="text" class="validate">
				<label for="icon_prefix">First Name</label>
			</div>
			<div class="input-field col s6">
				<i class="material-icons prefix">phone</i>
				<input id="icon_telephone" type="tel" class="validate">
				<label for="icon_telephone">Telephone</label>
			</div>
			<div class="input-field col s12">
				<input id="email" type="email" class="validate">
				<label for="email">Email</label>
			</div>
			<div class="input-field col s12">
				<textarea id="textarea1" class="materialize-textarea"></textarea>
				<label for="textarea1">Textarea</label>
			</div>
		</div>
	</form>
</div>



{% endblock content %}