{% extends "base.html" %}

{% block extra_css %}
<link href="/static/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <table id="exp">
    <thead>
      <tr>
        <th>Paciente</th>
        <th>Edad</th>
        <th>Sexo</th>
      </tr>
    </thead>

    <tbody>
      {% for object in object_list %}
      <tr>
        <td><a href="{% url 'resumen-clinico-detail' object.paciente.slug %}">{{object.paciente.nombre}}</a></td>
        <td>{{object.paciente.edad}}</td>
        <td>{% if object.paciente.sexo == 1 %}Femenino{% elif object.paciente.sexo == 2 %}Masculino{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.slider').hide();
  $('#exp').DataTable();
});
</script>
{% endblock %}
